@font-face {
    font-family: dancing;
    src: url(Dancing_Script/DancingScript-VariableFont_wght.ttf);
}

body {
    background-color: #C0DFEF;
    font-family: dancing;
    font-size: 1.2em;
}

/* Bannière */

h1 {
    padding-top: 10%;
    background-image: url(Images/banniere.jpeg);
    text-align: center;
    background-size: cover;       
    background-position: center;  
    height: 20vh;                
    margin: 0; 
}

/* Espace de liens : */

.montagne{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 1em;
    padding-bottom: 1em;
}

.montagne ul {
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 0;
}

.montagne li {
    text-align: center;
}

/* Effet sur les images */

.container {
    position: relative;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    transition: filter 3s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.5s;
    color: white;
    padding: 15%;
}

.container:hover .image {
    filter: blur(5px);
}

.container:hover .overlay {
    opacity: 1;
}

/* Pied de la page */

footer {
    text-align: center;
}
